.note {
	cursor: pointer;
	margin: 1px;
	outline: none;
	color: var(--text-color);
	justify-content: center;
	align-content: center;
	border-radius: 6px;
	height: var(--cell-size);
	max-height: var(--cell-size);
	width: var(--cell-size);
	max-width: var(--cell-size);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	transition:
		background-color 0.1s,
		transform 0.08s,
		color 0.15s;
}

.note:active {
	transform: scale(0.92);
}

.active-1 {
	background-color: var(--active-1);
	transition: background-color 0.1s;
}

.active-2 {
	background-color: var(--active-2);
	transition: background-color 0.1s;
}

.active-3 {
	background-color: var(--active-3);
	transition: background-color 0.1s;
}

.active-1:hover,
.active-2:hover,
.active-3:hover {
	font-weight: 500;
	font-size: 125%;
}

.inactive {
	background-color: var(--inactive);
	transition: background-color 0.1s;
}

.inactive:hover {
	background-color: #646464;
}
